@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    color: $white;
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,12%);
  }
}
@mixin button-cancel($bg) {
  background:$white ;
  border:1px solid $bg;
  color:$bg;
  &:hover {
    background:$white;
    color: darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
      background:$white;
      color: darken($bg, 12%);
  }
  &:visited:after {
      background:$white;
      color: darken($bg, 12%);
  }
}



.myBtn{
    @include border-radius(18px);
    @include padding(6px);
    color: $white;
    font-size: $tiny-font;
    font-weight: $bold-5;
    background: $pr-theme-color;
    text-decoration: none;
    text-shadow: none;
    border: none;
    min-width: $space-100;
    @include allMargin(1%, 2%, 0%, 2%);
}
.btn-sml{
    min-width: $space-80 !important;
}
.btn-md{
    min-width: $space-120 !important;
}
.btn-lg{
    min-width: $space-150 !important;
    padding: $space-8 $space-10 $space-8 $space-10 !important;
}
.btn-pr {
   @include button-bg($pr-theme-color);
}

.btn-cr{
   @include button-bg($cr-theme-color);
}

.btn-cancel-pr {
   @include button-cancel($pr-theme-color);
}
.btn-cancel-cr {
   @include button-cancel($cr-theme-color);
}
.btn-grouping{
    float:right;
    display: flex;
    margin: $space-20 $space-35 $space-20 $space-0;
    min-width: 250px;
    .myBtn{
        @extend .myBtn;
    }
    .btn-cancel-pr{
        @extend .btn-cancel-pr;
    }
    .btn-cancel-cr{
        @extend .btn-cancel-cr;
    }

}
