.box {
  width: 300px;
  height: 235px;
  background: #05434e;
  color: #e6e6e6;
  font-size: 17px;
  font-weight: 200; }

.b {
  font-weight: 900; }

/*======================SPACING CLASSES=============================*/
/*===========padding============*/
.pad-5 {
  padding: 5px; }

.pad-8 {
  padding: 8px; }

.pad-L8, input.eTextBox {
  padding-left: 8px; }

.pad-R8 {
  padding-right: 8px; }

.pad-T8 {
  padding-top: 8px; }

.pad-B8 {
  padding-bottom: 8px; }

.pad-10 {
  padding: 10px; }

.pad-L10 {
  padding-left: 10px; }

.pad-R10 {
  padding-right: 10px; }

.pad-T10 {
  padding-top: 10px; }

.pad-B10 {
  padding-bottom: 10px; }

.pad-20 {
  padding: 20px; }

.pad-L20 {
  padding-left: 20px; }

.pad-R20 {
  padding-right: 20px; }

.pad-T20 {
  padding-top: 20px; }

.pad-B20 {
  padding-bottom: 20px; }

.margin-5 {
  margin: 5px; }

.margin-10 {
  margin: 10px; }

.margin-15 {
  margin: 15px; }

.margin-20 {
  margin: 20px; }

.margin-25 {
  margin: 25px; }

.margin-30 {
  margin: 30px; }

.margin-40 {
  margin: 40px; }

.margin-L5 {
  margin-left: 5px; }

.margin-R5 {
  margin-right: 5px; }

.margin-T5 {
  margin-top: 5px; }

.margin-B5 {
  margin-bottom: 5px; }

.margin-T0 {
  margin-top: 0px; }

.margin-T2 {
  margin-top: 2px; }

.margin-L10 {
  margin-left: 10px; }

.margin-R10 {
  margin-right: 10px; }

.margin-T10 {
  margin-top: 10px; }

.margin-B10 {
  margin-bottom: 10px; }

.margin-L15 {
  margin-left: 15px; }

.margin-R15 {
  margin-right: 15px; }

.margin-T15 {
  margin-top: 15px; }

.margin-B15 {
  margin-bottom: 15px; }

.margin-L20 {
  margin-left: 20px; }

.margin-R20 {
  margin-right: 20px; }

.margin-T20 {
  margin-top: 20px; }

.margin-B20 {
  margin-bottom: 20px; }

.margin-L30 {
  margin-left: 30px; }

.margin-R30 {
  margin-right: 30px; }

.margin-T30 {
  margin-top: 30px; }

.margin-B30 {
  margin-bottom: 30px; }

.margin-L40 {
  margin-left: 40px; }

.margin-R40 {
  margin-right: 40px; }

.margin-T40 {
  margin-top: 40px; }

.margin-B40 {
  margin-bottom: 40px; }

.row-fluid.margin-B20 > .col-md-1 {
  display: flex; }

/*==================================*/
.height-100 {
  height: 100px; }

.height-150 {
  height: 150px; }

.myBtn, .btn-grouping .myBtn {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px;
  -webkit-padding: 6px;
  -moz-padding: 6px;
  -ms-padding: 6px;
  padding: 6px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  background: #0db3d0;
  text-decoration: none;
  text-shadow: none;
  border: none;
  min-width: 100px;
  margin: 1% 2% 0% 2%; }

.btn-sml {
  min-width: 80px !important; }

.btn-md {
  min-width: 120px !important; }

.btn-lg {
  min-width: 150px !important;
  padding: 8px 10px 8px 10px !important; }

.btn-pr {
  background: #0db3d0; }
  .btn-pr:hover {
    background: #0b92aa;
    color: #FFFFFF;
    transition: all 0.3s ease; }
  .btn-pr:active {
    background: #098196; }

.btn-cr {
  background: #1F7DDA; }
  .btn-cr:hover {
    background: #1a69b6;
    color: #FFFFFF;
    transition: all 0.3s ease; }
  .btn-cr:active {
    background: #175ea4; }

.btn-cancel-pr, .btn-grouping .btn-cancel-pr {
  background: #FFFFFF;
  border: 1px solid #0db3d0;
  color: #0db3d0; }
  .btn-cancel-pr:hover {
    background: #FFFFFF;
    color: #0b92aa;
    transition: all 0.3s ease; }
  .btn-cancel-pr:active {
    background: #FFFFFF;
    color: #098196; }
  .btn-cancel-pr:visited:after {
    background: #FFFFFF;
    color: #098196; }

.btn-cancel-cr, .btn-grouping .btn-cancel-cr {
  background: #FFFFFF;
  border: 1px solid #1F7DDA;
  color: #1F7DDA; }
  .btn-cancel-cr:hover {
    background: #FFFFFF;
    color: #1a69b6;
    transition: all 0.3s ease; }
  .btn-cancel-cr:active {
    background: #FFFFFF;
    color: #175ea4; }
  .btn-cancel-cr:visited:after {
    background: #FFFFFF;
    color: #175ea4; }

.btn-grouping {
  float: right;
  display: flex;
  margin: 20px 35px 20px 0px;
  min-width: 250px; }

label.eLabel, label.subTitle, .target {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #666666;
  cursor: default; }

input.eTextBox {
  background: #f7f7f7;
  outline: none;
  border: 1px solid #9cebf9;
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  height: 35px; }

input.eTextBox1 {
  height: 35px;
  width: 100px; }

input.eTextBox2 {
  height: 35px;
  width: 70px;
  text-align: center; }

select.dob-Select {
  border-radius: 0px !important;
  background: #f7f7f7;
  border: 1px solid #9cebf9; }

.input-group-btn .btn.btn-primary.calendarIcon {
  z-index: 2;
  margin-left: -1px;
  margin-top: 0px;
  height: 35px;
  background: #0db3d0;
  border: 1px solid #0db3d0; }

/*.desktop-only {
  @include media($device) {
    display: none !important;
  }
}

.device-only {
  @include media($desktop) {
    display: none !important;
  }
}*/
@media only screen and (min-width: 0px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .right-line {
    border-right: none; } }
body {
  background: #FFF;
  color: #4d4d4d;
  font-family: avenir;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-size: 12px; }

.common-modal {
  text-align: center;
  color: #0db3d0; }

.menu-table {
  margin: 0 auto; }
  .menu-table tr {
    min-height: 57px;
    height: auto; }
    .menu-table tr td {
      text-align: center;
      padding-top: 2vh;
      font-size: 10px;
      color: #e6e6e6; }

.kp-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #e8f0f0;
  overflow: hidden;
  z-index: 9999; }
  .kp-footer ul {
    width: 95%;
    margin: 0 auto !important;
    padding-top: 0.5em !important; }
    .kp-footer ul li {
      list-style-type: none; }
    .kp-footer ul li.copyright {
      text-align: right;
      font-size: 1em;
      color: #b3b3b3;
      float: right;
      padding-top: 0.5em; }
    .kp-footer ul li.kp-main a {
      float: left;
      width: 200px;
      height: 30px;
      background: url(../images/home/kaiser-logo.png) no-repeat center;
      background-size: 100%; }

/*====================================PATIENT PAGE==============================*/
.bottom-line {
  border-bottom: 1px solid #97eaf9; }

.right-line {
  border-right: 1px solid #97eaf9; }

.hline {
  border: 0;
  border-top: 1px solid #97eaf9;
  width: 98%;
  margin-right: 2%;
  float: left; }

.panel-info {
  border-color: #97eaf9; }
  .panel-info .panel-heading {
    border-color: #97eaf9;
    background-image: -webkit-linear-gradient(top, #f7fdff 0, #c7f4fc 100%);
    background-image: linear-gradient(to bottom, #f7fdff 0, #c7f4fc 100%);
    background-repeat: repeat-x; }
    .panel-info .panel-heading a {
      color: #666666; }

table.patientsTableHead {
  border: 1px solid #97eaf9; }
  table.patientsTableHead thead.panel-heading tr th, table.patientsTableHead tbody tr th {
    vertical-align: middle;
    font-size: 14px;
    border-bottom: none;
    font-weight: 500;
    height: 50px;
    text-align: center; }
  table.patientsTableHead thead.panel-heading tr td, table.patientsTableHead tbody tr td {
    text-align: center;
    vertical-align: middle;
    font-weight: 500;
    border-right: 1px solid #97eaf9;
    border-top: 1px solid #97eaf9;
    height: 40px; }
    table.patientsTableHead thead.panel-heading tr td label, table.patientsTableHead tbody tr td label {
      margin-bottom: 0px;
      font-size: 12px; }
      table.patientsTableHead thead.panel-heading tr td label input.admin-type, table.patientsTableHead tbody tr td label input.admin-type {
        margin-left: 5px;
        height: 11px;
        width: auto;
        float: left;
        margin-top: 5px; }
  table.patientsTableHead thead.panel-heading tr th:first-child, table.patientsTableHead thead.panel-heading tr td:first-child, table.patientsTableHead tbody tr th:first-child, table.patientsTableHead tbody tr td:first-child {
    text-align: left; }

.date-dropdown {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #cccccc;
  padding: 10px 15px;
  border-radius: 7px;
  z-index: 9;
  margin: 5px 0px 0px 10px;
  box-shadow: 12px 15px 33px #cccccc; }

.date-btns {
  cursor: pointer;
  color: #0db3d0;
  background: #FFFFFF;
  border-radius: 60px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 10px; }

.btnActive {
  background: #0db3d0;
  color: #FFFFFF; }

.caret2 {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #0db3d0 !important;
  vertical-align: baseline; }

/*====================ENROLLMENT PAGE========================*/
.title, .sub-title {
  color: #333333;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 25px;
  padding-top: 15px; }

.sub-title {
  font-size: 14px;
  padding: 0;
  margin: 15px 0 10px 15px;
  text-decoration: underline; }

.title-number {
  font-size: 20px;
  font-weight: normal;
  color: #0db3d0;
  padding-right: 1%; }

.dashSpan {
  margin-right: 15px;
  margin-left: -7px;
  font-size: 40px;
  color: #999999; }

.formField-div, select.formField-div, input.formField-div {
  font-size: 18px;
  outline: none;
  zoom: 1;
  top: -2px;
  left: 0;
  display: block;
  background: #f7f7f7;
  z-index: 1;
  box-shadow: none;
  transition: none;
  text-indent: 10px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #9cebf9; }

input.datePicker.formField-div {
  width: 89%;
  background: #F0F4F7; }

.formField-div select.stbc {
  font-size: 18px;
  outline: none;
  top: -2px;
  left: 0;
  position: absolute;
  display: block;
  background: #f7f7f7;
  z-index: 1;
  box-shadow: none;
  transition: none;
  text-indent: 10px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #9cebf9; }

.formField-div label {
  display: block;
  position: absolute;
  top: 11px;
  left: 10px;
  font-size: 16px;
  z-index: 2;
  -moz-transform-origin: 0 0em;
  -ms-transform-origin: 0 0em;
  -webkit-transform-origin: 0 0em;
  transform-origin: 0 0em;
  -moz-transition: -moz-transform 160ms, color 200ms;
  -o-transition: -o-transform 160ms, color 200ms;
  -webkit-transition: -webkit-transform 160ms, color 200ms;
  transition: transform 160ms, color 200ms;
  -moz-transform: scale(1, 1) rotateY(0);
  -ms-transform: scale(1, 1) rotateY(0);
  -webkit-transform: scale(1, 1) rotateY(0);
  transform: scale(1, 1) rotateY(0);
  color: gray; }

.floating-placeholder-float label {
  -moz-transform: scale(0.55, 0.55) rotateY(0);
  -ms-transform: scale(0.55, 0.55) rotateY(0);
  -webkit-transform: scale(0.55, 0.55) rotateY(0);
  transform: scale(0.55, 0.55) rotateY(0);
  top: 0px;
  left: 3px;
  font-size: 22px;
  color: #0db3d0; }

.formField-div.savebutton input.admin-input {
  border-bottom: none; }

/*# sourceMappingURL=style.css.map */
